<project xmlns="http://maven.apache.org/POM/4.0.0" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

	<modelVersion>4.0.0</modelVersion>
	<groupId>$fn.get("MAVEN_GROUP_ID","to.be.defined")</groupId>
	<artifactId>$fn.get("MAVEN_ARTIFACT_ID","to.be.defined")</artifactId>
	<version>$fn.get("PROJECT_VERSION","to.be.defined")</version>

	<dependencies>

  		<dependency>
  			<groupId>junit</groupId>
  			<artifactId>junit</artifactId>
  			<version>4.11</version>
			<scope>test</scope>
  		</dependency>

	</dependencies>

</project>
