
// Generation date/time : $now.date  $now.time
// Entity name : "${entity.name}" 
// Target database : "${env.database}"

#foreach ( $entity in $model.allEntities )
//--------------------------------------------------
CREATE TABLE $entity.sqlTableName
(
#foreach( $attribute in $entity.attributes )
#if ( ! $attribute.isTransient() )
  $attribute.sqlColumnName $attribute.sqlColumnType ${attribute.sqlColumnConstraints}#if( $foreach.hasNext() ),#end

#end## if
#end## foreach
);
// Create Primary Key 
#if ( $entity.hasPrimaryKey() ) 
#set( $PKCOLUMNS = $fn.join( $entity.sqlPrimaryKeyColumns, "," ) )
ALTER TABLE $entity.sqlTableName ADD CONSTRAINT 
  pk_${entity.sqlTableName} PRIMARY KEY($PKCOLUMNS);
#end

#end

